# pymongo
# dnspython
# jupyter
# transformers==4.6.1
# torch==1.8.0
pandas
pandas-ta
yfinance
matplotlib
transformers[torch]
emoji
# nltk
# pycoingecko
# pandas_ta
# torchtext
# scikit-learn
# farm
# jupyter
# runipy
# p_tqdm
# deepspeed
tqdm
# jupyterlab
# jupyter_http_over_ws